body {
    background-color:azure;
    font-family: 'roboto', sans-serif;

}
.contenedor{
    background: blue;
    color: chocolate;
    width: 50%;
    max-width: 800px;
    height: 600px;
}
h1{
    text-align: center;
    color: blue;
}